# <font color=green> PYTHON PARA DATA SCIENCE - PANDAS
---

# <font color=green> 1. INTRODUÇÃO AO PYTHON
---

# 1.1 Introdução

> Python é uma linguagem de programação de alto nível com suporte a múltiplos paradigmas de programação. É um projeto *open source* e desde seu surgimento, em 1991, vem se tornando uma das linguagens de programação interpretadas mais populares. 
>
> Nos últimos anos Python desenvolveu uma comunidade ativa de processamento científico e análise de dados e vem se destacando como uma das linguagens mais relevantes quando o assundo é ciência de dados e machine learning, tanto no ambiente acadêmico como também no mercado.

# 1.2 Instalação e ambiente de desenvolvimento

### Instalação Local

### https://www.python.org/downloads/
### ou
### https://www.anaconda.com/distribution/

### Google Colaboratory

### https://colab.research.google.com

### Verificando versão

In [6]:
!python -V

Python 3.6.9

# 1.3 Trabalhando com dados

In [7]:
import pandas as pd
#pd.set_option('display.max_rows', 1000)
# pd.set_option('display.max_columns', 1000)

In [8]:
df = pd.read_csv("db.csv", sep = ";")

In [9]:
df.head()

               Nome  ...      Valor
0     Jetta Variant  ...   88078.64
1            Passat  ...  106161.94
2          Crossfox  ...   72832.16
3               DS5  ...  124549.07
4  Aston Martin DB4  ...   92612.10

[5 rows x 7 columns]

In [10]:
df.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [11]:
df[['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [12]:
df.info() # Há menos observações em Quilometragem em relação ao dataset todo

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

# <font color=green> 2. TRABALHANDO COM TUPLAS - TIPOS VARIADOS DE DADOS
---

# 2.1 Criando tuplas

Tuplas são sequências imutáveis que são utilizadas para armazenar coleções de itens, geralmente heterogêneos. Podem ser construídas de várias formas:
```
- Utilizando um par de parênteses: ( )
- Utilizando uma vírgula à direita: x,
- Utilizando um par de parênteses com itens separados por vírgulas: ( x, y, z )
- Utilizando: tuple() ou tuple(iterador)
```

In [13]:
1, 2, 3

(1, 2, 3)

In [14]:
nome = 'Passat'
valor = 153000
(nome, valor)

('Passat', 153000)

In [15]:
nomes_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])

In [16]:
type(nomes_carros)

tuple

# 2.2 Seleções em tuplas

In [17]:
nomes_carros[0]

'Jetta Variant'

In [18]:
nomes_carros[1]

'Passat'

In [19]:
nomes_carros[-1]

'DS5'

In [20]:
nomes_carros[1:3]

('Passat', 'Crossfox')

In [21]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [22]:
nomes_carros[-1]

('Fusca', 'Gol', 'C4')

In [23]:
nomes_carros[-1][0]

'Fusca'

# 2.3 Iterando em tuplas

In [24]:
nomes_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [25]:
for item in nomes_carros:
  print(item)

Jetta Variant
Passat
Crossfox
DS5

### Desempacotamento de tuplas

In [26]:
carro1, carro2, carro3, carro4 = nomes_carros

In [27]:
carro1

'Jetta Variant'

In [28]:
carro2

'Passat'

In [29]:
carro3

'Crossfox'

In [30]:
carro4

'DS5'

---

In [31]:
nomes_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [32]:
_, A, _, B = nomes_carros

In [33]:
A

'Passat'

In [34]:
B

'DS5'

In [35]:
C, *_ = nomes_carros

In [36]:
C

'Jetta Variant'

---

## *zip()*

https://docs.python.org/3.6/library/functions.html#zip

In [37]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [38]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [39]:
zip(carros, valores)

In [40]:
tuplas_carros = list(zip(carros, valores))

In [41]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [42]:
for carro, valor in zip(carros, valores):
  print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [43]:
for carro, valor in zip(carros, valores):
  if(valor > 100000):
    print(carro)

Passat
DS5

# <font color=green> 3. TRABALHANDO COM DICIONÁRIOS
---

# 3.1 Criando dicionários

Listas são coleções sequenciais, isto é, os itens destas sequências estão ordenados e utilizam índices (números inteiros) para acessar os valores.

Os dicionários são coleções um pouco diferentes. São estruturas de dados que representam um tipo de mapeamento. Mapeamentos são coleções de associações entre pares de valores onde o primeiro elemento do par é conhecido como chave (*key*) e o segundo como valor (*value*).

```
dicionario = {key_1: value_1, key_2: value_2, ..., key_n: value_n}
```

https://docs.python.org/3.6/library/stdtypes.html#typesmapping

In [44]:
carros = ['Jetta Variant', 'Passat', 'Crossfox']
carros

['Jetta Variant', 'Passat', 'Crossfox']

In [45]:
valores = [88078.64, 106161.94, 72832.16]
valores

[88078.64, 106161.94, 72832.16]

In [46]:
carros.index("Passat")

1

In [47]:
valores[carros.index("Passat")]

106161.94

In [48]:
dados = {"Jetta Variant" : 88078.64, "Passat": 106161.04, "Crossfox": 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.04}

In [49]:
type(dados)

dict

### Criando dicionários com *zip()*

In [50]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64), ('Passat', 106161.94), ('Crossfox', 72832.16)]

In [51]:
dados = dict(zip(carros, valores))
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

# 3.2 Operações com dicionários

## *dict[ key ]*

Retorna o valor correspondente à chave (*key*) no dicionário.

In [52]:
dados["Passat"]

106161.94

## *key in dict*

Retorna **True** se a chave (*key*) for encontrada no dicionário.

In [53]:
"Passat" in dados

True

In [54]:
"Fusca" in dados

False

In [55]:
"Fusca" not in dados

True

## *len(dict)*

Retorna o número de itens do dicionário.

In [56]:
len(dados)

3

## *dict[ key ] = value*

Inclui um item ao dicionário.

In [57]:
dados['DS5'] = 125459.07

In [58]:
dados

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

## *del dict[ key ]*

Remove o item de chave (*key*) do dicionário.

In [59]:
dados

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [60]:
del dados["Passat"]

In [61]:
dados

{'Crossfox': 72832.16, 'DS5': 125459.07, 'Jetta Variant': 88078.64}

# 3.3 Métodos de dicionários

## *dict.update()*

Atualiza o dicionário.

In [62]:
dados

{'Crossfox': 72832.16, 'DS5': 125459.07, 'Jetta Variant': 88078.64}

In [63]:
dados.update({"Passat":106161.94})
dados

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Jetta Variant': 88078.64,
 'Passat': 106161.94}

In [64]:
dados.update({"Passat": 95000, "Ferrari": 1200000})
dados

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Ferrari': 1200000,
 'Jetta Variant': 88078.64,
 'Passat': 95000}

## *dict.copy()*

Cria uma cópia do dicionário.

In [65]:
dadosCopy = dict.copy(dados)
dadosCopy

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Ferrari': 1200000,
 'Jetta Variant': 88078.64,
 'Passat': 95000}

In [66]:
del dadosCopy["Crossfox"]

In [67]:
dadosCopy

{'DS5': 125459.07,
 'Ferrari': 1200000,
 'Jetta Variant': 88078.64,
 'Passat': 95000}

In [68]:
dados

{'Crossfox': 72832.16,
 'DS5': 125459.07,
 'Ferrari': 1200000,
 'Jetta Variant': 88078.64,
 'Passat': 95000}

## *dict.pop(key[, default ])*

Se a chave for encontrada no dicionário, o item é removido e seu valor é retornado. Caso contrário, o valor especificado como *default* é retornado. Se o valor *default* não for fornecido e a chave não for encontrada no dicionário um erro será gerado.

In [69]:
dadosCopy.pop("DS5") # Retorna quem foi eliminado em pop

125459.07

In [70]:
dadosCopy

{'Ferrari': 1200000, 'Jetta Variant': 88078.64, 'Passat': 95000}

## *dict.clear()*

Remove todos os itens do dicionário.

In [71]:
dadosCopy.clear()

In [72]:
dadosCopy

{}

# 3.4 Iterando em dicionários

## *dict.keys()*

Retorna uma lista contendo as chaves (*keys*) do dicionário.

In [73]:
dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'Passat', 'Ferrari'])

In [74]:
for elementos in dados.keys():
  print(elementos)

Jetta Variant
Crossfox
DS5
Passat
Ferrari

## *dict.values()*

Retorna uma lista com todos os valores (*values*) do dicionário.

In [75]:
dados.values()

dict_values([88078.64, 72832.16, 125459.07, 95000, 1200000])

In [76]:
valores = 0
for valores in dados.values():
  print(valores)

88078.64
72832.16
125459.07
95000
1200000

## *dict.items()* - Tuplas de "Chave" : Valor

Retorna uma lista contendo uma tupla para cada par chave-valor (*key-value*) do dicionário.

In [77]:
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 125459.07), ('Passat', 95000), ('Ferrari', 1200000)])

In [78]:
for item in dados.items():
  print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 125459.07)
('Passat', 95000)
('Ferrari', 1200000)

In [79]:
for key, value in dados.items():
  print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 125459.07
Passat 95000
Ferrari 1200000

In [80]:
for key, value in dados.items():
  if(value > 100000):
    print(key)

DS5
Ferrari

# <font color=green> 4. FUNÇÕES E PACOTES
---
    
Funções são unidades de código reutilizáveis que realizam uma tarefa específica, podem receber alguma entrada e também podem retornar alguma resultado.

# 4.1 Built-in function

A linguagem Python possui várias funções integradas que estão sempre acessíveis. Algumas já utilizamos em nosso treinamento: type(), print(), zip(), len(), set() etc.

https://docs.python.org/3.6/library/functions.html

In [81]:
dados = {'Jetta Variant': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}
dados

{'Crossfox': 72832.16, 'Jetta Variant': 88078.64, 'Passat': 106161.94}

In [82]:
valores = [ ]
for valor in dados.values():
  valores.append(valor)
valores

[88078.64, 106161.94, 72832.16]

In [83]:
soma = 0
for valor in dados.values():
  soma += valor

soma

267072.74

In [84]:
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [85]:
sum(dados.values())

267072.74

In [86]:
sum(dados.values(), 1000008)

1267080.7399999998

In [87]:
sum?

# 4.2 Definindo funções sem e com parâmetros

### Funções sem parâmetros

#### Formato padrão

```
def <nome>():
    <instruções>
```

In [88]:
def media():
  valor = (1+2+3)/3
  print(valor)

### Funções com parâmetros

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
```

In [89]:
def media(n1, n2, n3):
  media = (n1 + n2 + n3)/ 3
  print(media)

In [90]:
media(8,9,7)

8.0

In [91]:
def media(lista):
  valor = (sum(lista) / len(lista))
  print(valor)

In [92]:
media([14,6,78,8,9])

23.0

# 4.3 Definindo funções que retornam valores

### Funções que retornam um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return <resultado>
```

In [93]:
def media(lista):
  valor = sum(lista)/ len(lista)
  return(valor, len(lista))

In [94]:
media([8, 7, 9])

(8.0, 3)

### Funções que retornam mais de um valor

#### Formato padrão

```
def <nome>(<param_1>, <param_2>, ..., <param_n>):
    <instruções>
    return (<resultado_1>, <resultado_2>, ..., <resultado_n>)
```

# <font color=green> 5. PANDAS BÁSICO
---

**versão: 0.25.2**
  
Pandas é uma ferramenta de manipulação de dados de alto nível, construída com base no pacote Numpy. O pacote pandas possui estruturas de dados bastante interessantes para manipulação de dados e por isso é muito utilizado por cientistas de dados.


## Estruturas de Dados

### Series

Series são arrays unidimensionais rotulados capazes de armazenar qualquer tipo de dado. Os rótulos das linhas são chamados de **index**. A forma básica de criação de uma Series é a seguinte:


```
    s = pd.Series(dados, index = index)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy ou uma constante.

### DataFrames

DataFrame é uma estrutura de dados tabular bidimensional com rótulos nas linha e colunas. Como a Series, os DataFrames são capazes de armazenar qualquer tipo de dados.


```
    df = pd.DataFrame(dados, index = index, columns = columns)
```

O argumento *dados* pode ser um dicionário, uma lista, um array Numpy, uma Series e outro DataFrame.

**Documentação:** https://pandas.pydata.org/pandas-docs/version/0.25/

# 5.1 Estruturas de dados

In [95]:
import pandas as pd

### Criando uma Series a partir de uma lista

In [96]:
carros = ['Jetta Variant', 'Fusca', 'Golf TSI']
carros

['Jetta Variant', 'Fusca', 'Golf TSI']

In [97]:
pd.Series(carros)

0    Jetta Variant
1            Fusca
2         Golf TSI
dtype: object

### Criando um DataFrame a partir de uma lista de dicionários

In [98]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [99]:
df = pd.DataFrame(dados)
df

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de um dicionário

In [100]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [101]:
df2 = pd.DataFrame(dados)
df2

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

### Criando um DataFrame a partir de uma arquivo externo

In [102]:
dataset = pd.read_csv("db.csv", sep = ";", index_col = 0 )

In [104]:
dataset

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

# 5.2 Seleções com DataFrames

### Selecionando colunas

In [106]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [107]:
dataset['Valor'] # Índice retorna junto da coluna especificada

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [108]:
type(dataset['Valor'])

pandas.core.series.Series

In [105]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [109]:
type(dataset[['Valor']])

pandas.core.frame.DataFrame

### Selecionando linhas - [ i : j ] 

<font color=red>**Observação:**</font> A indexação tem origem no zero e nos fatiamentos (*slices*) a linha com índice i é **incluída** e a linha com índice j **não é incluída** no resultado.

In [111]:
dataset[0:3]

                         Motor  ...      Valor
Nome                            ...
Jetta Variant  Motor 4.0 Turbo  ...   88078.64
Passat            Motor Diesel  ...  106161.94
Crossfox       Motor Diesel V8  ...   72832.16

[3 rows x 6 columns]

### Utilizando .loc para seleções

<font color=red>**Observação:**</font> Seleciona um grupo de linhas e colunas **segundo os rótulos** ou uma matriz booleana.

In [112]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                                 5712
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                       106162
Name: Passat, dtype: object

In [114]:
dataset.loc[['Passat', 'DS5']]

                  Motor  ...      Valor
Nome                     ...
Passat     Motor Diesel  ...  106161.94
DS5     Motor 2.4 Turbo  ...  124549.07

[2 rows x 6 columns]

In [121]:
dataset.loc[['Passat', 'DS5'], ['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [123]:
dataset.loc[:, ['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

### Utilizando .iloc para seleções

<font color=red>**Observação:**</font> **Seleciona com base nos índices**, ou seja, se baseia na posição das informações.

In [125]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [124]:
dataset.iloc[[1]] # Retornando a informação do carro na segunda linha

               Motor  ...      Valor
Nome                  ...
Passat  Motor Diesel  ...  106161.94

[1 rows x 6 columns]

In [126]:
dataset.iloc[[4]]

                            Motor  ...    Valor
Nome                               ...
Aston Martin DB4  Motor 2.4 Turbo  ...  92612.1

[1 rows x 6 columns]

In [133]:
dataset.iloc[1:4,[0, 5, 2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [134]:
dataset.iloc[[1, 42, 22], [0, 5, 2]]

                               Motor      Valor  Quilometragem
Nome
Passat                  Motor Diesel  106161.94         5712.0
Optima                 Motor 1.8 16v   86641.34            NaN
Lamborghini Obvious  Motor Diesel V6  133529.84        98079.0

# 5.3 Queries com DataFrames

In [135]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [138]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [140]:
dataset.Motor == 'Motor V8' # Retorna uma series booleana

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013              True
Cadillac Ciel concept     True
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [154]:
select = dataset.Motor == 'Motor Diesel'

In [149]:
type(select)

pandas.core.series.Series

In [155]:
dataset[select]

                              Motor  ...      Valor
Nome                                 ...
Passat                 Motor Diesel  ...  106161.94
Effa Hafei Picape Baú  Motor Diesel  ...  125684.65
Sorento                Motor Diesel  ...   81399.35
New Fiesta Hatch       Motor Diesel  ...   66007.16
Kangoo Express         Motor Diesel  ...  146716.91
Fit                    Motor Diesel  ...   77836.23
Cielo Hatch            Motor Diesel  ...  145197.70
Symbol                 Motor Diesel  ...  133030.60
A4 Sedan               Motor Diesel  ...   96369.04
A4 Avant               Motor Diesel  ...  138946.88
Silver Shadow          Motor Diesel  ...  143568.22
Camry                  Motor Diesel  ...  138597.27
Clio                   Motor Diesel  ...  111130.33
Série 3 M3 Coupé       Motor Diesel  ...   69219.89
Gallardo LP 560 – 4    Motor Diesel  ...  144118.91
Chana Utility          Motor Diesel  ...  132662.32
TT Roadster            Motor Diesel  ...   85311.40
Aston Martin Virage    Motor Diesel  ...   97290.18
Sandero                Motor Diesel  ...  112350.61
XKR                    Motor Diesel  ...   54263.16
X5                     Motor Diesel  ...   62041.32
Dodge Dakota           Motor Diesel  ...  141083.35
i30 CW                 Motor Diesel  ...   73311.75
Série 7 Sedã           Motor Diesel  ...   67539.79
V60                    Motor Diesel  ...  114728.74
Aston Martin DB5       Motor Diesel  ...  122110.90

[26 rows x 6 columns]

In [156]:
type(dataset[select])

pandas.core.frame.DataFrame

### Utilizando o método query

In [159]:
dataset[(dataset.Motor == "Motor Diesel") & (dataset.Zero_km == True)]

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

In [161]:
type((dataset.Motor == "Motor Diesel") & (dataset.Zero_km == True))

pandas.core.series.Series

In [162]:
dataset.query('Motor == "Motor Diesel" and Zero_km == True')

                            Motor  ...      Valor
Nome                               ...
Sorento              Motor Diesel  ...   81399.35
Cielo Hatch          Motor Diesel  ...  145197.70
Camry                Motor Diesel  ...  138597.27
Aston Martin Virage  Motor Diesel  ...   97290.18
Série 7 Sedã         Motor Diesel  ...   67539.79

[5 rows x 6 columns]

# 5.4 Iterando com DataFrames

In [163]:
for item in dataset:
  print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

# 5.5 Tratamento de dados

In [170]:
dataset.head()

                            Motor  ...      Valor
Nome                               ...
Jetta Variant     Motor 4.0 Turbo  ...   88078.64
Passat               Motor Diesel  ...  106161.94
Crossfox          Motor Diesel V8  ...   72832.16
DS5               Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4  Motor 2.4 Turbo  ...   92612.10

[5 rows x 6 columns]

In [171]:
dataset.info() "Atenção a Quilometragem"

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(2)
memory usage: 22.3+ KB

In [173]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [174]:
dataset.fillna(0) #Alteração apenas visual

                                       Motor  ...      Valor
Nome                                          ...
Jetta Variant                Motor 4.0 Turbo  ...   88078.64
Passat                          Motor Diesel  ...  106161.94
Crossfox                     Motor Diesel V8  ...   72832.16
DS5                          Motor 2.4 Turbo  ...  124549.07
Aston Martin DB4             Motor 2.4 Turbo  ...   92612.10
...                                      ...  ...        ...
Phantom 2013                        Motor V8  ...   51759.58
Cadillac Ciel concept               Motor V8  ...   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo  ...   68934.03
Aston Martin DB5                Motor Diesel  ...  122110.90
Macan                        Motor Diesel V6  ...   90381.47

[258 rows x 6 columns]

In [175]:
dataset.fillna(0, inplace = True) # Alteração NA por 0 concluída

In [176]:
dataset.query("Zero_km == True")

                                Motor  ...      Valor
Nome                                   ...
DS5                   Motor 2.4 Turbo  ...  124549.07
A5                    Motor 4.0 Turbo  ...   56445.20
J5                           Motor V6  ...   53183.38
A3                       Motor 1.0 8v  ...   88552.39
Série 1 M                    Motor V8  ...   94564.40
...                               ...  ...        ...
Lamborghini Reventón  Motor 4.0 Turbo  ...   67664.86
Benni Mini                   Motor V8  ...  126247.84
Uno                   Motor Diesel V6  ...  128852.21
Santa Fe                Motor 3.0 32v  ...  129415.33
XC60                  Motor 4.0 Turbo  ...   77675.79

[61 rows x 6 columns]

In [178]:
dataset.dropna(subset = ["Quilometragem"], inplace = True) # Excluir registro de todas as quilometragens